/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* nav */
#nav {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 61px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}
#nav.on {
  position: fixed;
  top: -61px;
}
#nav h1 {
  float: left;
  color: #fff;
  font-size: 40px;
  padding: 5px 5px 5px 15px;
  font-family: "Abel";
}
#nav .menu {
  float: right;
  padding-right: 10px;
}
#nav .menu li {
  display: inline;
}
#nav .menu li a {
  display: inline-block;
  padding: 20px 15px;
  color: #fff;
  font-weight: bold;
  font-family: "Abel";
  text-transform: capitalize;
}
#nav .menu li.active a {
  color: #111;
}
#nav .mNav {
  display: none;
  position: absolute;
  top: 7px;
  right: 10px;
  width: 65px;
  height: 45px;
  cursor: pointer; /*background-color: rgba(255,255,255,0.3);*/
}

/* contents */
#contents {
  text-align: center;
  color: #fff;
}
#contents > div {
  height: 100vh;
  line-height: 100vh;
}
#contents > div h2 {
  font-size: 90px;
  font-weight: 200;
  text-transform: uppercase;
}
#contents > div h2 strong {
  font-weight: 700;
  font-style: italic;
}

/* section */
#section1 {
  background: radial-gradient(
    ellipse farthest-corner at center bottom,
    #3aa17e,
    #00537e
  );
}
#section2 {
  background: radial-gradient(
    ellipse farthest-corner at center top,
    #a3a1ff,
    #3a3897
  );
}
#section3 {
  background: radial-gradient(
    ellipse farthest-corner at center top,
    #29abe2,
    #4f00bc
  );
}
#section4 {
  background: radial-gradient(
    ellipse farthest-corner at center top,
    #ff5300,
    #45145a
  );
}
#section5 {
  background: radial-gradient(
    ellipse farthest-corner at center bottom,
    #852d91,
    #312a6c
  );
}
#section6 {
  background: radial-gradient(
    ellipse farthest-corner at center top,
    #fbb03b,
    #d4145a
  );
}
